tesseract==0.1.3
pytesseract==0.3.8
requests==2.27.1
wheel==0.37.1
pillow==9.0.1
numpy==1.22.2
opencv-contrib-python>=4.*
scikit-learn==1.0.2
gdown==4.2.1
pytest-socket==0.5.1
imutils==0.5.4
symspellpy==6.7.6
